header {
  background-color: white;
  height: 60px;
  @include box-shadow;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Dosis', sans-serif;

  &__logo {
    margin: 0;
    justify-self: flex-start;
    font-weight: 200;
    font-size: 1.5rem;
    text-decoration: none;
    color: $black;
  }

  &__sign {
    justify-self: flex-end;

    display: flex;
    align-items: center;

    .link:nth-child(1) {
      background-color: $pink;
    }

    .link:nth-child(2) {
      background-color: $yellow;
    }

    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      font-family: 'Dosis', sans-serif;
      font-size: 1rem;
      font-weight: 800;
      margin-right: 10%;
      color: white;
      padding: 0.25rem 0.75rem;
      border-radius: 6px;
      text-decoration: none;
      text-transform: uppercase;
      border: none;
      outline: none;
    }

  }
}

.signup {
  font-family: 'Roboto', sans-serif;

  section {
    padding: 5%;
    font-weight: 600;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__form {
    padding: 5%;
    display: flex;
    flex-flow: column wrap;
  }

  input {
    margin: 0.5rem 0 2rem 0;
    border: 1px solid $gray--light;
    height: 2.25rem;
    border-radius: 5px;
    outline: none;
    padding-left: 5%;
  }

  &__btn {
    font-family: 'Roboto', sans-serif;
    color: white;
    border: none;
    border-radius: 2px;
    height: 2.25rem;
    text-align: center;
    font-weight: 800;
    background-color: $yellow;
    cursor: pointer;
  }
}